.App {
  text-align: center;
}
/* 
body{
  background-position: 0px 310px;
  background-image: url('./images/tropical-jungle.jpg');
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}
 */
.round{
  border-radius: 50%;
  height: 100px;
width: 100px;
}
@media only screen and (max-width: 600px) {
  #outer-div{
    width: auto;
    margin:0px;
    padding:0px;
  }
}
@media only screen and (max-width: 400px) {
  body{
    text-align: center;
    margin:auto;
    
  }
  #outer-div{
    min-width: 500px;
    margin:0px;
    padding:0px;
  }
}
@media only screen and (max-width: 360px) {
  body{
    text-align: center;
    margin:auto;
    
    
  }
  #outer-div{
    max-width: 400px;
    margin-right:0px;
    margin-left: 0px;
    padding:0px;
  }
}